<!doctype html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <style>
        <% include components/style.css %>
    </style>
</head>
<body>
<% include components/navigation.ejs %>
</body>
</html>