<!doctype html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<% include navigation.ejs %>
<% if (errorMessage) {%>
<div class="error">
    <span class="danger">Ошибка!</span> <%= errorMessage %>
</div>
<%} %>

<table>
    <thead>
    <tr>
        <th>Страна</th>
        <th>Город</th>
    </tr>
    </thead>
    <tbody>
    <% for (let i = 0; i < locations.length; i++) {%>
    <tr>
        <td><%= locations[i].country %></td>
        <td><%= locations[i].city %></td>
    </tr>
    <%}%>
    </tbody>
</table>
<form action="/locations/add" method="post">
    <h3>Добавить локацию</h3>
    <div class="input-group">
        <label for="city">Город:</label>
        <input type="text" name="city" id="city" title="city" required/>
    </div>
    <div class="input-group">
        <label for="country">Страна:</label>
        <input type="text" name="country" title="country" id="country" required/>
    </div>
    <button type="submit">Добавить</button>
</form>
</body>
</html>