.float-alert{
    position: fixed;
    max-width: 400px;
    top: 10px;
    left: 30%;
    z-index: 999
}

.alert {
    margin: 1rem;
}

.btn{
    margin: 5px;
}

form{
    width: 50%;
    margin: 20px auto;
}
.pagination{
    margin: 10px;
}

@keyframes markItem {
    50% {
        background-color: green;
        color: white;
        font-weight: bold;
    }
}

.updated{
    animation-name: markItem;
    animation-duration: 2s;
    animation-iteration-count: 1;
}